<div class="navbar navbar-inverse navbar-fixed-top">
    @*<div class="container">
        <div class="navbar-header">
            <button type="button" value="Menu" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-collapse collapse">*@
            <ul style="font-size:larger; margin-left:150px" >
                @Html.ActionLink("Students", "Index", "Students") |
                @Html.ActionLink("Exams", "Index", "Exams") |
                @Html.ActionLink("Master-Detail", "Master", "Students")
            </ul>
            @*@Html.Partial("_LoginPartial")
        </div>
    </div>*@
</div>