@model Resenje_2.Models.Student
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<h5>Name: @Model.Name</h5>
<h5>Surname: @Model.Surname</h5>
<h5>Address: @Model.Address</h5>
<h5>Town: @Model.Town</h5>

