@model IEnumerable<Resenje_2.ViewModels.StudentViewModel>
@{
    ViewBag.Title = "Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>event.target demo</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>

    <h2>Master-Detail Page</h2>

    <form asp-controller="Students" asp-action="Master">
        <p>
            <input type="text" name="id">
            <input type="submit" value="Search by course" />

        </p>
    </form>

    @if (!HttpContext.Current.Request.QueryString.Get("id").IsEmpty())
    {
        <h5>@Html.ActionLink("Go back to original list", "Master", "Students")</h5>
    }

    <ul>
        @foreach (var item in Model)
        {
            <li style="font-size:15px">
                @item.student.Name @item.student.Surname
                <ul>
                    @foreach (var i in item.exams)
                    {
                        <li style="font-size:13px">@i.Course.Name</li>
                    }
                </ul>
            </li>
        }
    </ul>

    <script>
        function handler(event) {
            var target = $(event.target);
            if (target.is("li")) {
                target.children().toggle();
            }
        }
        $("ul").click(handler).find("ul").hide();
    </script>

</body>
</html>