@model IEnumerable<Resenje_2.ViewModels.StudentViewModel>
@{
    ViewBag.Title = "Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>event.target demo</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
    <h2>Master-Detail Page</h2>
    <table class="table table-bordered table-hover" style="table-layout:fixed; width:40%">
        <tbody>
            <th>Name</th>
            <tr>
    <ul>
        @foreach (var item in Model)
        {
            <li style="font-size:15px">
                @item.student.Name @item.student.Surname
                <ul>
                    @foreach (var i in item.exams)
                    {
                        <li style="font-size:13px">@i.Course.Name</li>
                    }
                </ul>
            </li>
        }
    </ul>
              </tr>
        </tbody>
        </table>


        <script>
            function handler(event) {
                var target = $(event.target);
                if (target.is("li")) {
                    target.children().toggle();
                }
            }
            $("ul").click(handler).find("ul").hide();
        </script>

</body>
</html>